@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-float-slow {
    animation: float-background 20s ease-in-out infinite;
  }
}

@keyframes float-background {
  0% {
    transform: translate(0, 0) scale(1.05);
  }

  50% {
    transform: translate(-2%, -2%) scale(1.1);
  }

  100% {
    transform: translate(0, 0) scale(1.05);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out forwards;
}